<div class="wrapper">

  <div class="user-container" (click)="openedUserEditModal()">
    <div class="user-property min-w-20">
      <div class="user-property-text">{{user.userName}}</div>
    </div>
    <div class="user-property min-w-20">
      <div class="user-property-text">{{user.firstName}}</div>
    </div>
    <div class="user-property min-w-20">
      <div class="user-property-text">{{user.lastName}}</div>
    </div>
    <div class="user-property min-w-30">
      <div class="user-property-text">{{user.email}}</div>
    </div>
    <div class="user-property">
      <div class="user-property-text">{{user.user_type}}</div>
    </div>

  </div>
</div>
